@page
@model BookedWebApp.Pages.Users.EditModel
@{
}

<div class="container">
    <h2>Edit Form</h2>
    <div>
        <p class="text-danger">@ViewData["Message"]</p>
    </div>
    <form method="post">
        <div class="mb-3">
            <label asp-for="user.FirstName" class="form-label">First Name: </label>
            <span class="text-danger" asp-validation-for="user.FirstName"></span>
            <input asp-for="user.FirstName" class="form-control" value=@Model.user.FirstName>
        </div>

        <div class="mb-3">
            <label asp-for="user.LastName" class="form-label">Last Name: </label>
            <span class="text-danger" asp-validation-for="user.LastName"></span>
            <input asp-for="user.LastName" class="form-control" value="">
        </div>



        <button type="submit" class="btn btn-primary">Change</button>

    </form>
</div>