@page
@model BookedWebApp.Pages.Users.PaymentDetailsModel
@{
}

@if (Model.FlightBooking != null)
{
	<h2>Payment Details:</h2>
	<p>@Model.FlightBooking.Flight.AirlineName</p>

}
else if (Model.HotelBooking != null)
{
	<h2>Payment Details:</h2>
	<p>@Model.HotelBooking.Hotel.Name</p>

}