@page
@model BookedWebApp.Pages.Users.PaymentDetailsModel
@{
}

@if (Model.FlightBooking != null)
{
	<div class="container mt-3">
		<h2>Payment Details</h2>
		<p>Airline: @Model.FlightBooking.Flight.AirlineName</p>
	</div>

}
else if (Model.HotelBooking != null)
{
	<div class="container mt-3">
		<h2>Payment Details:</h2>
		<p>Hotel name: @Model.HotelBooking.Hotel.Name</p>
	</div>

}