@page
@model BookedWebApp.Pages.RegisterModel
@{
	ViewData["Title"] = "Register";
}
<h2>Register Form</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="User.FirstName" class="form-label">First Name: </label>
        <span class="text-danger" asp-validation-for="User.FirstName"></span>
        <input asp-for="User.FirstName" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="User.LastName" class="form-label">Last Name: </label>
        <span class="text-danger" asp-validation-for="User.LastName"></span>
        <input asp-for="User.LastName" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="User.Password" class="form-label">Password: </label>
        <span class="text-danger" asp-validation-for="User.Password"></span>
        <input type="password" asp-for="User.Password" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="User.Email" class="form-label">Email: </label>
        <span class="text-danger" asp-validation-for="User.Email"></span>
        <input type="email" asp-for="User.Email" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="User.Gender" class="form-label">Gender: </label>
        <span class="text-danger" asp-validation-for="User.Gender"></span>
        <select asp-for="User.Gender" class="form-select">
            <option disabled selected></option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Non-Binary">Non-Binary</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="User.Contact" class="form-label">Contact: </label>
        <span class="text-danger" asp-validation-for="User.Contact"></span>
        <input asp-for="User.Contact" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
