@page
@model BookedWebApp.Pages.HotelDetailsModel
@{
}

<h1>Hotel Details</h1>
@Model.Hotel.Name @Model.Hotel.StarRating 

<img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Hotel.Image)}")" />