@page
@model BookedWebApp.Pages.HotelsModel
@{
	Layout = "_HomeLayout";
}

<div>
	<h1>All hotels</h1>
</div>

<div>
    <table>
        <tr>

            <th>Name</th>
            <th>Price per night</th>
            <th></th>
            <th></th>

        </tr>
        @foreach (var hotel in Model.DetailsHotel)
        {
            <tr>

                <td>@hotel.Name</td>
                <td>@hotel.PricePerNight</td>
                <td><a asp-page="/HotelDetails" asp-route-id="@hotel.HotelId">More details...</a></td>
            </tr>
        }
    </table>
</div>