@page
@model BookedWebApp.Pages.LogInModel
@{
	ViewData["Title"] = "Log in page";
	Layout = "_HomeLayout";
}

<div class="card login-form container login-box">
	<div class="card-body text-light">
		<h1 class="card-title text-center">LOGIN</h1>
		<div class="card-text mt-3">
			<form class="login-form" method="post">
				<div class="form-group mb-3">
					<label for="exampleInputEmail1">Email Address</label>
					<input asp-for="Email" type="email" class="form-control form-control-sm" id="exampleInputEmail1"/>
					<span class="text-danger" asp-validation-for="Email"></span>
				</div>

				<div class="form-group mb-3">
					<label for="exampleInputPassword1">Password</label>
					<input asp-for="Password" type="password" class="form-control form-control-sm" id="exampleInputPassword1" />
					<span class="text-danger" asp-validation-for="Password"></span>
				</div>
				
				<div class="container-fluid text-center mt-4">
					<button type="submit" class="btn btn-primary btn-block mb-5">
					Sign In
					</button>
				</div>

				<div class="sign-up">
					Don't have an account? <a asp-area="" asp-page="/Register">Create account</a>
				</div>

			</form>
		</div>
	</div>

</div>
