@page
@model BookedWebApp.Pages.LogOutModel
@{
    Layout = "_HomeLayout";
}

<div>
    <form method="post">
        <input type="submit" value="Log out" asp-page-handler="LogOut" />
    </form>
</div>