@page
@model BookedWebApp.Pages.PaymentModel
@{
}

<div class="container">
	<p>@Model.hotelBooking.GetPrice()</p>
</div>

<form method="post">
	<div class="d-flex align-items-center justify-content-center pt-2">
		<button type="submit" class="btn-primary">
			Pay Now
		</button>
	</div>
</form>