@page
@model BookedWebApp.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_HomeLayout";
}


<div class="container">
    <h2>Register Form</h2>
    <div>
        <p class="text-danger">@ViewData["Message"]</p>
    </div>
    <form method="post">
        <div class="mb-3">
            <label asp-for="Creadentials.FirstName" class="form-label">First Name: </label>
            <span class="text-danger" asp-validation-for="Creadentials.FirstName"></span>
            <input asp-for="Creadentials.FirstName" class="form-control" value="">
        </div>

        <div class="mb-3">
            <label asp-for="Creadentials.LastName" class="form-label">Last Name: </label>
            <span class="text-danger" asp-validation-for="Creadentials.LastName"></span>
            <input asp-for="Creadentials.LastName" class="form-control" value="">
        </div>

        <div class="mb-3">
            <label asp-for="Creadentials.Email" class="form-label">Email: </label>
            <span class="text-danger" asp-validation-for="Creadentials.Email"></span>
            <input type="email" asp-for="Creadentials.Email" class="form-control" value="">
        </div>

        <div class="mb-3">
            <label asp-for="Creadentials.DateOfBirth" class="form-label">Date of Birth: </label>
            <span class="text-danger" asp-validation-for="Creadentials.DateOfBirth"></span>
            <input type="date" asp-for="Creadentials.DateOfBirth" class="form-control" value="" max="@(DateTime.Today.AddYears(-18).ToString("yyyy-MM-dd"))">
        </div>

        <div class="mb-3">
            <label asp-for="Creadentials.PhoneNumber" class="form-label">Phone Number: </label>
            <span class="text-danger" asp-validation-for="Creadentials.PhoneNumber"></span>
            <input type="tel" asp-for="Creadentials.PhoneNumber" class="form-control" value="">
        </div>


        <div class="mb-3">
            <label asp-for="Creadentials.Password" class="form-label">Password: </label>
            <span class="text-danger" asp-validation-for="Creadentials.Password"></span>
            <input type="password" asp-for="Creadentials.Password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

