@page
@model BookedWebApp.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_HomeLayout";
}


<div class="container">
    <h2>Register Form</h2>
    <div>
        <p class="text-danger">@ViewData["Message"]</p>
    </div>
    <form method="post">
        <div class="mb-3">
            <label asp-for="User.FirstName" class="form-label">First Name: </label>
            <span class="text-danger" asp-validation-for="User.FirstName"></span>
            <input asp-for="User.FirstName" class="form-control" value="">
        </div>

        <div class="mb-3">
            <label asp-for="User.LastName" class="form-label">Last Name: </label>
            <span class="text-danger" asp-validation-for="User.LastName"></span>
            <input asp-for="User.LastName" class="form-control" value="">
        </div>

        <div class="mb-3">
            <label asp-for="User.Email" class="form-label">Email: </label>
            <span class="text-danger" asp-validation-for="User.Email"></span>
            <input type="email" asp-for="User.Email" class="form-control" value="">
        </div>

        <!--Need to change to calander-->
        <div class="mb-3">
            <label asp-for="User.DateOfBirth" class="form-label">Date of Birth: </label>
            <span class="text-danger" asp-validation-for="User.DateOfBirth"></span>
            <input type="date" asp-for="User.DateOfBirth" class="form-control" value="">
        </div>

        <div class="mb-3">
            <label asp-for="User.PhoneNumber" class="form-label">Phone Number: </label>
            <span class="text-danger" asp-validation-for="User.PhoneNumber"></span>
            <input type="tel" asp-for="User.PhoneNumber" class="form-control" value="">
        </div>


        <div class="mb-3">
            <label asp-for="User.Password" class="form-label">Password: </label>
            <span class="text-danger" asp-validation-for="User.Password"></span>
            <input type="password" asp-for="User.Password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

