html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /*margin-bottom: 60px;*/
}

.navbar {
    background-color: #1B2730;
}

.logo-nav {
    width: 70px;
}

.nav-link {
     color: white;
}

a.nav-link:hover {
    background: gold;
}

.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
}

.c-item {
    height: 70vh;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.carousel-caption{
    padding-top: 15vh;
}

.footer-layout {
    background-color: #1B2730;
}

/*Card from home page*/
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


/*Log in*/
.login-box {
    height: 100%;
    width: 50%;
    align-items: center;
    border-radius: 13px;
    margin-top: 70px;
    background-color: #1B2730;
}

.login-form form {
    font-size: 15px;
    margin-top: 30px;
}

.sign-up {
    font-size: 12px;
}

/*Hotel page*/
.bgHotel {
    background-image: url(/img/cityBG.jpg);
    background-position: center;
    background-size: cover;
}


/*Review*/
.scrollable-container {
    height: 500px;
    overflow-y: auto;
}